LootRandomizer/**/__pycache__
LootRandomizer/settings.json
LootRandomizer/Seeds
LootRandomizer/Seeds/**
LootRandomizer.zip
Changelog.md
LootRandomizer/Mod/*/locations.md
LootRandomizer/Mod/*/items.md
.vscode
